/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 .rb_search ul {
     list-style-type: none;
 }

 .rb_search li {
     float:left;
     margin: 0;
 }

.rb_search a.school-id {
    font-size: 1.2rem;
    text-decoration: none;
    /* reset wordpress themes box-shadow styles */
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0 6px 0 6px;
    /* border: 1px solid silver; */
    margin: 0;
}

.rb_search a.school-id:hover {
    background-color: lightblue;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.rb_search a.school-id:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.rb_search nav li {
    float:left;
    margin: 0 0 20px 0;
}

.rb_container {
    clear: both;
}

.rb_search nav a.active {
    border-bottom: 3px solid black;
}

.rb_arrow {
    margin: 0 6px 0 6px;
}

#home-button {
    float:right;
}

#educations_list li {
    float:left;
}


#educations {
    clear: both;
}
